@import '~antd/dist/antd.css';

body {
  background-color: #ffccb1 !important;
  border: 1px solid;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  margin: 1em auto;
}

.form-wrapper > * {
  margin: auto 0.25em;
}

.icons {
  display: flex;
  align-items: center;
}

.delete-icon {
  margin-right: 20px;
  color: #fff;
  font-size: 20px;
}

.edit-icon {
  margin: 10px;
  color: #fff;
  font-size: 20px;
}

.checkbox {
  color: #fff;
}

table {
  width: 90%;
  table-layout: fixed;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;

  border: 1px solid black;
}

.table-row {
  background-color: #f69f91;
}

.table-row td {
  padding-top: 10px; 
  padding-bottom: 10px
}

.table-row div {
  margin: 0 auto;
}

.table-header {
  color: #ffff;
  background-color: #f69f91;
  border-radius: 4px 4px 4px 4px;
  border:3px solid #f69f91;
  text-align: center;
  min-width: 100px;
  width: 70%;
}

.todo-row {
  border-radius: 20px;
  background: #a1a884;
  text-align: center;
  border-bottom: 1px solid black;
}

.done-column {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}


.todo-input {
  width: 394px;
  padding: 4px 4px 4px 4px;
  border-radius: 2px 2px 2px 2px;
  border: 1px solid #e2e2e2;
}

.todo-input::placeholder {
  color: #b8b4b4;
}

.todo-button {
  padding: 5px 20px;
  border: none;
  border-radius: 0 4px 4px 0;
  background: #a37f60;
  color: #fff;
}